<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/app/ulteam.css}" />
    <title></title>
</head>
<body>
<span th:fragment="navigation">
    <a class="btn custom large nav-item" href="/allNews?activePage=1">
        <span class="glyphicon glyphicon-bell"/>
        <span class="nav-item-text" th:text="#{ua.vn.os.ulteam.web.navigation.news}"/>
    </a>
    <a class="btn custom large nav-item" href="/photoAlbums?activePage=1">
        <span class="glyphicon glyphicon-picture"/>
        <span class="nav-item-text" th:text="#{ua.vn.os.ulteam.web.navigation.photo}"/>
    </a>
</span>
</body>
</html>