<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/app/ulteam.css}" />
    <title></title>
</head>
<body>
<span th:fragment="navigation">
    <ul class="nav nav-pills nav-stacked">

        <li>
            <a href="/allNews?activePage=1" >
                <span class="glyphicon glyphicon-bell nav-item"/>
                <span class="nav-item-text" th:text="#{ua.vn.os.ulteam.web.navigation.news}"/>

            </a>
        </li>

        <li><a href="#">Test</a></li>
        <li><a href="#">Test</a></li>
    </ul>
</span>
</body>
</html>