<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/app/ulteam.css}"/>
</head>

<body>
<div class="container">

    <div class="span10">
        <div th:include="template/header :: header"/>
    </div>

    <div class="span10">
        <div class="col-md-3">
            <div th:include="template/navigation :: navigation"/>
        </div>

        <div class="col-md-9">
            <span th:each="newsDto : ${newsDtoList}">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <table class="shortNewsHeader">
                            <tr class="shortNewsHeader">
                                <td class="news-title">
                                    <span class="glyphicon glyphicon-certificate"/>
                                    <span th:text="${newsDto.title}"/>
                                </td>
                                <td class="news-date">
                                    <span class="glyphicon glyphicon-time"/>
                                    <span th:text="${newsDto.modificationDate}"/>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="panel-body">
                        <table class="shortNewsBody">
                            <tr class="shortNewsBody">
                                <td class="thumbnail">
                                    <img th:src="@{data:image/jpeg;base64,} + ${newsDto.picture}"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </span>
        </div>


    </div>
</div>

</body>
</html>