<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/app/ulteam.css}"/>
</head>

<body>
<div class="container">

    <div class="span10">
        <div th:include="template/header :: header"/>
    </div>

    <div class="span10">
        <div class="col-md-3">
            <div th:include="template/navigation :: navigation"/>
        </div>

        <div class="col-md-9">
            <span th:each="newsDto : ${newsDtoList}">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <table class="shortNewsHeader">
                            <tr class="shortNewsHeader">
                                <td class="news-title">
                                    <span class="glyphicon glyphicon-certificate"/>
                                    <span th:text="${newsDto.title}"/>
                                </td>
                                <td class="news-date">
                                    <span class="glyphicon glyphicon-time"/>
                                    <span th:text="${newsDto.modificationDate}"/>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="panel-body">
                        <table class="shortNewsBody">
                            <tr class="shortNewsBody">
                                <td class="short-news-avatar">
                                    <img class="thumbnail" th:src="@{data:image/jpeg;base64,} + ${newsDto.picture}"/>
                                    <div class="views">
                                        <span class="glyphicon glyphicon-eye-open"/>
                                        <span th:text="${newsDto.views}"/>
                                    </div>
                                </td>
                                <td class="description" th:utext="${newsDto.shortDescription}"/>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="footer-holder">
                            <button type="button" class="btn btn-primary btn-xs" th:text="#{ua.vn.os.ulteam.web.page.allnews.read.button}"></button>
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>

</body>
</html>