<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/app/ulteam.css}"/>
</head>

<body>
<div id="container">

    <div th:include="template/header :: header"/>
    <table class="container-content">
        <td id="navigation">
            <span th:include="template/navigation :: navigation"/>
        </td>

        <td id="content">
            <div id="panel-games" class="panel">
                <div class="panel-heading">
                    <table>
                        <tr class="panel-header">
                            <td class="move-left">
                                <span class="glyphicon glyphicon-resize-small"/>
                                <span th:utext="#{ua.vn.os.ulteam.web.page.games.caption}"/>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="panel-body">
                    <!--Games control bar start-->
                    <table class="games-control-bar">
                        <tr>
                            <td>
                                <select class="selectpicker games-control-bar-item" data-style="btn-primary">
                                    <option data-hidden="true" th:utext="#{ua.vn.os.ulteam.web.page.games.control.season}"/>
                                    <span th:each="seasonDto : ${seasonDtoList}">
                                        <option th:text="${seasonDto.name}"></option>
                                    </span>
                                </select>
                            </td>
                            <td>
                                <select class="selectpicker games-control-bar-item" data-style="btn-info">
                                    <option data-hidden="true" th:utext="#{ua.vn.os.ulteam.web.page.games.control.tournament}"/>
                                    <span th:each="tournamentDto : ${tournamentDtoList}">
                                        <option th:text="${tournamentDto.name}"></option>
                                    </span>
                                </select>
                            </td>
                            <td>
                                <select class="selectpicker games-control-bar-item" data-style="btn-warning">
                                    <option data-hidden="true" th:utext="#{ua.vn.os.ulteam.web.page.games.control.tour}"/>
                                    <option>tour1</option>
                                    <option>tour2</option>
                                </select>
                            </td>
                            <td>
                                <select class="selectpicker games-control-bar-item" data-style="btn-success">
                                    <option data-hidden="true" th:utext="#{ua.vn.os.ulteam.web.page.games.control.team}"/>
                                    <option>team1</option>
                                    <option>team2</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div class="bootstrap-table game-table">
                        <div class="fixed-table-toolbar"></div>
                        <div class="fixed-table-container">
                            <div class="fixed-table-body">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr class="game-row" th:each="gameDto : ${gameDtoList}">
                                            <td class="team-name">
                                                <img th:src="${gameDto.ownerTeamLogoUrl}"/>
                                                <span th:utext="${gameDto.ownerTeam} + ' (' + ${gameDto.ownerTeamTown} + ')'"></span>
                                            </td>
                                            <td class="team-name">
                                                <img th:src="${gameDto.guestTeamLogoUrl}"/>
                                                <span th:utext="${gameDto.guestTeam} + ' (' + ${gameDto.guestTeamTown} + ')'"></span>
                                            </td>
                                            <td class="goals success" th:utext="${gameDto.ownerTeamGoals} + ' : '  + ${gameDto.guestTeamGoals}"></td>
                                            <td class="date" th:utext="${gameDto.date}"></td>
                                            <td class="tournament" th:utext="${gameDto.tournament}"></td>
                                            <td class="tour" th:utext="${gameDto.tour}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="fixed-table-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </table>

    <div th:include="template/footer :: footer"/>

</div>
<script th:src="@{/resources/js/lib/jquery-2.1.1.js}"/>
<script th:src="@{/resources/js/lib/spin.min.js}"/>
<script th:src="@{/resources/js/lib/bootstrap-select.js}"/>
<script th:src="@{/resources/js/lib/bootstrap.js}"/>
<script th:src="@{/resources/js/lib/bootstrap-table.min.js}"/>
</body>
</html>