<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/app/ulteam.css}"/>
</head>

<body>
<div id="container">

    <div th:include="template/header :: header"/>

    <table class="container-content">
        <td id="navigation">
            <span th:include="template/navigation :: navigation"/>
        </td>

        <td id="content">
            <span th:object="${newsDto}">
                <div class="panel panel-success news-panel">
                    <div class="panel-heading">
                        <table class="newsHeader">
                            <tr class="newsHeader">
                                <td class="news-title">
                                    <span class="glyphicon glyphicon-certificate"/>
                                    <span th:text="${newsDto.title}"/>
                                </td>
                                <td class="news-date">
                                    <span class="glyphicon glyphicon-time"/>
                                    <span th:text="${newsDto.modificationDate}"/>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="panel-body">
                        <div class="news-content">
                            <img class="thumbnail" th:src="@{data:image/jpeg;base64,} + ${newsDto.picture}"/>
                            <div th:utext="${newsDto.newsContent}"/>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="footer-holder">
                            <div class="views">

                                <span class="glyphicon glyphicon-eye-open"/>
                                <span th:text="${newsDto.id}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
        </td>
    </table>

    <div th:include="template/footer :: footer"/>

</div>

</body>
</html>