<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/app/ulteam.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/lib/bootstrap-image-gallery.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/lib/blueimp-gallery.min.css}"/>
</head>

<body>
<div id="container">

    <div th:include="template/header :: header"/>

    <table class="container-content">
        <td id="navigation">
            <span th:include="template/navigation :: navigation"/>
        </td>

        <td id="content">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <table>
                        <tr class="panel-header">
                            <td class="move-left">
                                <span class="glyphicon glyphicon-picture"/>
                                <span th:utext="#{ua.vn.os.ulteam.web.page.photoalbums.caption}"/>

                            </td>
                            <td class="move-right">
                                <span th:utext="#{ua.vn.os.ulteam.web.page.photoalbums.count} + ${photoAlbumsCount}"/>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="panel-body">
                    <table>
                        <div th:each="photoAlbumDto : ${photoAlbumDtoList}">
                            <tr id="photo-album">
                                <td class="avatar">
                                    <img class="thumbnail" th:src="@{data:image/jpeg;base64,} + ${photoAlbumDto.avatar.base64Data}"/>
                                </td>

                                <td class="description">
                                    <ul class="list-group">
                                        <li class="list-group-item" th:utext="#{ua.vn.os.ulteam.web.page.photoalbums.title} + ${photoAlbumDto.title}"></li>
                                        <li class="list-group-item" th:utext="#{ua.vn.os.ulteam.web.page.photoalbums.description} + ${photoAlbumDto.description}"></li>
                                        <li class="list-group-item" th:utext="#{ua.vn.os.ulteam.web.page.photoalbums.creationdate} + ${photoAlbumDto.creationDateTime}"></li>
                                        <li class="list-group-item" th:utext="#{ua.vn.os.ulteam.web.page.photoalbums.numberofphotos} + ${photoAlbumDto.numberOfPhotos} +' id: '+ ${photoAlbumDto.id}"></li>
                                        <li class="list-group-item" th:utext="#{ua.vn.os.ulteam.web.page.photoalbums.author} + ${photoAlbumDto.author}"></li>
                                    </ul>
                                </td>
                            </tr>
                        </div>
                    </table>
                    <div id="links" style="display: none"/>

                    <ul class="pagination">
                        <li class="disabled"><a href="#">&laquo;</a></li>
                        <li th:each="index : ${#numbers.sequence(1, photoAlbumsPagesCount)}"
                            th:class="${activePage == index}? 'active'">
                            <a th:href="@{/photoAlbums?activePage=} + ${index}" th:text="${index}"></a>
                        </li>
                        <li class="disabled"><a href="#">&raquo;</a></li>
                    </ul>
                </div>


                <!--div class="panel-footer">
                    <div class="footer-holder">
                    </div>
                </div-->
            </div>
        </td>
    </table>

    <div th:include="template/footer :: footer"/>

</div>
<div th:include="template/photoViewer :: photoViewer"/>

<script th:src="@{/resources/js/lib/jquery-2.1.1.js}"/>
<script th:src="@{/resources/js/lib/jquery.blueimp-gallery.min.js}"/>
<script th:src="@{/resources/js/lib/bootstrap-image-gallery.js}"/>
<script th:src="@{/resources/js/app/ulteam.photo.viewer.js}"/>
</body>
</html>