@import url('../lib/bootstrap.css');

/* header start */
body {
    background-image: url(../../images/background.png);
}
.container .jumbotron {
    padding: 1%;
    margin-top: 20px;
    background-color: #245269;
    height: 220px;
}

.container {
    margin-top: 20px;
    border-radius: 6px;
    background-color: darkgrey;

}
/* header end */

/* navigation start */

.span10 > .col-md-3 {
    padding: 0;
}
.nav > li {
    background-color: #c4e3f3;
    border-radius: 5px;
    font-family: "Lucida Grande";
    font-size: 16px;

}
.nav > li > a {
    color: darkblue;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #4cae4c;
    color: paleturquoise;
}

.nav-item-text {
    padding-left: 5px;
}
/* navigation end */

/* main content start */

/* news short panel start */

.shortNewsHeader {
    color: blue;
    font-family: "Lucida Grande";
    width: 100%;
}

.shortNewsHeader > .news-title {
    text-align: left;
    font-size: 16px;
    width: 80%;
}

.shortNewsHeader > .news-date {
    text-align: right;
    color: #55008b;
    width: 20%;
}

.panel-success {
    border-color: slateblue;
}

.panel-success > .panel-heading {
    background-color: #67b168;
}

.shortNewsBody {
    width: 30%;
}

.shortNewsBody > .thumbnail {
    width: 180px;
    height: 180px;
    border-color: lime;
}
/* news short panel end */

.span10 > .col-md-9 {
    padding-right: 0;
}

/* main content stop */
